body {
  background: url('/images/Chalkboard_black.jpg');
  background-attachment: fixed;
  color: #FFFFFF;
}

.container-fluid > .navbar-header {
  background: #222222;
}

.navbar-inverse .navbar-collapse {
  background: rgba(34, 34, 34, 0.99) none repeat scroll 0% 0%;
}

#loader{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -100px;
  text-align: center;
  z-index: 10;
}

/*Chalk Board Styling*/

#chalkboard {
  text-align: center;
  font-family: 'Short Stack', cursive;
}

.add-lifts {
  margin-bottom: 5%;
}

.chalk-table {
  overflow-y: auto;
}

.modal-header {
  padding: 15px;
  border-bottom: 0px;
  text-align: center;
}

.modal-content {
  background-color: #2A2828;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 0px;
}

.form-control {
  color: #FFF;
  background-color: #4C4949;
  border: 3px solid #ccc;
  border-radius: 0px;
}

.modal-backdrop {
  background-color: #5F5B5B;
}

.lift-lists {
  list-style: none;
}

.lift-success {
  color: green;
}

.lift-fail {
  color: red;
}

/*Platform Styling*/

#all-posts {
  margin-top: 15%;
}

.posts-list {
  list-style: none;
  border: 3px solid #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 12%;
}

/*show page styling*/

.comments {
  margin-top: 20px;
}

.comment-list {
  list-style: none;
  margin-right: 12%;
}

/*weight room styling*/

.weight-list {
  list-style: none;
  border: 3px solid #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 12%;
}