<div class="modal-header">
  <h3 class="modal-title">Add Attempts</h3>
</div>
<div class="modal-body">
  <form class="form">
    <div class="form-group">
      <label>*Was this at a Meet or in Training?</label>
      <select class="form-control" ng-model="meetTrain">
        <option value="Training">Training</option>
        <option value="Meet">Meet</option>
      </select>
    </div>
    <div class="form-group">
      <label>Bench Press</label>
      <input type="number" class="form-control" ng-model="benchPress" placeholder="Weight (lbs.)">
    </div>
    <div class="form-group">
      <label>Attempt Result</label>
      <select class="form-control" ng-model="benchSuccess">
        <option value="1">Succeeded</option>
        <option value="0">Failed</option>
      </select>
    </div>
    <div class="form-group">
      <label>Squat</label>
      <input type="number" class="form-control" ng-model="squat" placeholder="Weight (lbs.)">
    </div>
    <div class="form-group">
      <label>Attempt Result</label>
      <select class="form-control" ng-model="squatSuccess">
        <option value="1">Succeeded</option>
        <option value="0">Failed</option>
      </select>
    </div>
    <div class="form-group">
      <label>Dead Lift</label>
      <input type="number" class="form-control" ng-model="deadLift" placeholder="Weight (lbs.)">
    </div>
    <div class="form-group">
      <label>Attempt Result</label>
      <select class="form-control" ng-model="deadLiftSuccess">
        <option value="1">Succeeded</option>
        <option value="0">Failed</option>
      </select>
    </div>
    <div class="form-group">
      <label>*Attempted on:</label>
      <input type="date" ng-model="attemptDate" class="form-control">
    </div>
      <button class="btn btn-success btn-xs" ng-click="newAttempts()">Submit</button>
  </form>
    <button class="btn btn-danger btn-xs pull-right" ng-click="closeModal()">Cancel</button>
  * - <em>Required</em>
</div>